/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: system-ui, Arial, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* Header */
header {
    background-color: #2c3e50;
    color:pink;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: rgb(248, 165, 21);
    text-decoration: none;
    padding: 8px 12px;
}

nav a:hover {
    background-color: #5c049f97;
    border-radius: 5px;
}

/* Main content */
main {
    padding: 20px;
}

article {
    margin-bottom: 40px;
}

h2, h3 {
    margin-bottom: 10px;
}

p {
    text-align: justify;
    margin-bottom: 10px;
}

/* Profile section */
.profile {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.profile img {
    width: 100px;
    border-radius: 10px;
}

/* Two-column layout */
.columns {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.columns > div,
.columns figure {
    flex: 1;
    min-width: 250px;
}

/* Lists */
ul {
    padding-left: 20px;
}

/* Images */
figure img {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

figcaption {
    font-weight: bold;
    margin: 5px 0;
}

/* Footer */
footer {
    background-color: #023160d3;
    color: pink;
    text-align: center;
    padding: 15px;
}
